<div class="container-fluid d-flex">
    <!-- Left side container with slogan and button -->
    <div class="left-content d-flex flex-column align-items-center justify-content-center">
      <div class="chat-slogan">
        <strong>Connect through <span>Chat</span></strong>
        <p>More than messages. Build real connections.</p>
      </div>
      <button *ngIf="loginStatus" class="btn btn-primary new-message-btn" (click)="openFriendsList()">New Message</button>
    </div>
  
    <!-- Right side container with responsive illustration -->
    <div class="img-box">
      <img src="../../assets/message.png" alt="Background Image" />
    </div>
  </div>
  