<!-- chat-dialog.component.html -->
<div class="container">
    <h2 mat-dialog-title class="bg-primary w-100 text-white m-0">
      Chatting with {{ group.groupName }}

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#memberstaticBackdrop">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span> &nbsp; Group Members</span>
        </button>
        
        <button mat-menu-item>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span>&nbsp; Exit Group </span>
        </button>

        <button mat-menu-item>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <span>&nbsp; Delete Group </span>
        </button>
      </mat-menu>

    </h2>

   
    
    <mat-dialog-content class="mat-typography">
      <!-- Add your chat UI components here  -->
       <!-- <div class="send-message-container">
        <div *ngFor="let sentMessage of sentMessages" class="sent-message">
          {{ sentMessage }}
        </div>
      </div>
      <div class="received-message-container">
        <div *ngFor="let Message of receivedMessages" class="sent-message">
          {{ Message.message }}
        </div>
      </div> -->
  
      <div class="goup-chat-container">
        <div  *ngFor="let chatMessage of chatMessages" class="{{ chatMessage.type }}-message">
         <h3 class="message"> {{ chatMessage.message }} <br> </h3>
          <p>{{chatMessage.Date}}  <span>{{chatMessage.Time}}</span></p>
        </div>
      </div>
  
      <textarea
        [(ngModel)]="message"
        placeholder="Type your message..."
      ></textarea>
      <button (click)="sendMessage(message, group._id)" class="btn btn-success">
        Send
      </button>
    </mat-dialog-content>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  </mat-dialog-actions>
  <audio #receivedMessageTone>
  
    <source src="../../assets/iphone_sms_original.mp3" type="audio/mp3">
    
    Your browser does not support the audio element.
  </audio>
  
  
  <!-- Modal for Users List -->

<!-- Modal -->
<div class="modal fade" id="memberstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Friends</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center ">

        <table class="table w-50 table-striped">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Name</th>
              <th scope="col">Status</th>
              <th scope="col">Message</th>

              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of group.members index as i">
              <!-- <th scope="row">1</th> -->
              <td class="p-3">{{member[i]}}</td>
              <!-- <td class=" p-3">
              <img *ngIf="user.online"  src="../../assets/online.png" alt="">
              <img *ngIf="!user.online" src="../../assets/icons8-offline-50.png" alt="">

              </td> -->
             <!-- <td><button class="btn btn-primary btn-sm" data-bs-dismiss="modal" (click)="openChatDialog(user)">Send Message</button></td> -->
            </tr>
            
          </tbody>
        </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
  