/* styles.css or your component's style file */

  
 /* error.component.css */
:host {
    max-width: 70%; /* Adjust the width as needed */
    width: 70%;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
  }
  
  